.footer-data {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(174, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  max-width: 300px;
  column-gap: 10px;
}

.social-icons div img {
  width: 15px;
}

.social-icons div {
  border: none;
  background-color: white;
  border-radius: 100%;
  transition: opacity 0.15s;
  opacity: 0.4;
}

.social-icons div:hover {
  opacity: 1;
}

.social-icons div:active {
  opacity: 0.6;
}

.copyright-details {
  color: rgb(91, 91, 91);
  font-size: 0.7rem;
  margin-top: 10px;
}
